<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <title>RC Controller</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="slider-vertical-left" style="height:200px;"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="slider-vertical-right" style="height:200px;"></div>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.js"></script>
        <script>

        var leftSlider = document.getElementById('slider-vertical-left');
        var rightSlider = document.getElementById('slider-vertical-right');

        noUiSlider.create(leftSlider, {
        	start: 0,
		    orientation: "vertical",
            step: 1,
        	range: {
        		'min': -100,
        		'max': 100
        	}
        });

        noUiSlider.create(rightSlider, {
        	start: 0,
		    orientation: "vertical",
            step: 1,
            connect: 'upper',
        	range: {
        		'min': -100,
        		'max': 100
        	}
        });

        leftSlider.noUiSlider.on('end', function(){
            leftSlider.noUiSlider.set(0);
        });
        leftSlider.noUiSlider.on('update', function(){
            $.post('/left/', {speed: leftSlider.noUiSlider.get()});
        });
        rightSlider.noUiSlider.on('end', function(){
            rightSlider.noUiSlider.set(0);
        });
        rightSlider.noUiSlider.on('update', function(){
            $.post('/right/', {speed: rightSlider.noUiSlider.get()});
        });

        </script>
        <script type="text/javascript">
        $('#Start').click(function(){
            $.get('/start/')
        });
        $('#Stop').click(function(){
            $.get('/stop/')
        });
        $('#Left').on('change', function(e){
            $.post('/left/', $(this).serialize());
            e.preventDefault();
            return false;
        });
        $('#Right').on('change', function(e){
            $.post('/right/', $(this).serialize());
            e.preventDefault();
            return false;
        });
        </script>
    </body>
</html>
